/* google font styles  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
    
}

body {
    background: linear-gradient(rgba(153, 153, 153, 0.527), rgb(255, 255, 255));
}

.scroll {
    color: white;
    padding: 5px 10px;
    background-color:  rgb(10, 92, 185) ;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
    float: right;
}

.scroll:hover{
    background-color:  rgb(27, 170, 9) ;
}

section{
    min-height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url("images/gadgets.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    height: 80px;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 7px 10px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.5cm;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

nav ul li .on {
    color: aliceblue;
    background-color: rgb(10, 92, 185) ;
    padding: 6px 6px;
}

nav ul li a:hover{
    color: aliceblue;
    border-radius:5px ;
    transition: 2ms ease-out-out;
    font-weight: 600;
    background-color: rgb(10, 92, 185);
    padding: 6px 6px;
}

nav a img{
    border-radius: 50px;
    float: left;
    cursor: pointer;
    margin-top: 8px;
}

.container{
    width: 80%;
    margin: auto;
    color: white;
}

.intro{
    margin: auto;
    text-align: center;
    width: 60%;
    transform: translateY(20vh);
}

.intro h1{
    font-size: 40px;
    font-weight: 800;
}

.intro p {
    line-height: 2.0;
    margin-bottom: 5px;
    color: white;
}

.intro h2 {
    margin-bottom: 10px;
}

.intro .button{
    color: white;
    padding: 10px 20px;
    background-color:  rgb(10, 92, 185) ;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
}

.intro .button:hover{
    color: black;
}

.ScrollBtn{
    background-color: rgb(241, 5, 5);
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    top: 50%;
    float: right;
    position: fixed;
}

.ScrollBtn:hover{
    background-color: rgb(212, 73, 73);
}

.AboutUs {
    min-height: 100vh;
}

.about {
    text-align: center;
    font-weight: 900;
    padding: 10px 20px;
}

.vision{
    width: 90%;
    margin: auto;
}

.vision p{
    float: right;
    margin-top: 10px;
    margin-right: 400px;
}

.vision h2{
    font-weight: 600;
    margin-left: 340px;
}

.mission{
    width: 90%;
    margin: auto;
}

.mission p{
    float: right;
    margin-top: 10px;
    margin-right: 400px;
    position: relative;
}

.mission h2{
    font-weight: 600;
    margin-left: 340px;
}

.offer{
    min-height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.80)), url("images/services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.serviceContent{
    width: 90%;
    margin: auto;
    color: white;
}

.serviceContent h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.serviceContent p {
    text-align: center;
}

.gadgets {
    width: 90%;
    margin: auto;
    color: white;
}

.gadgets img {
    border-radius: 60px;
}

.gadgets h2 {
    font-weight: 600;
    margin-top: 15px;
    margin-left: 90px;
}

.gadgets p{
    font-size: 15px;
    margin-left: 50px;
}

.contactUS{
    width: 90%;
    margin: auto;
}

.heading{
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.message{
    background:linear-gradient(rgba(153, 153, 153, 0.527), rgb(255, 255, 255)) ;
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 20px;
}

.message input[type=text]{
    width: 370px;
    height: 30px;
    border: solid 2px  rgb(4, 55, 97);
    margin-top: 5px;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-left: 35%;
}

.message input[type=email]{
    width: 370px;
    height: 30px;
    border: solid 2px  rgb(4, 55, 97);
    margin-top: 5px;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-left: 35%;
}
.message input[type=mobile]{
    width: 370px;
    height: 30px;
    border: solid 2px  rgb(4, 55, 97);
    margin-top: 5px;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-left: 35%;
}

.message input[type=msg]{
    width: 370px;
    height: 60px;
    border: solid 2px  rgb(4, 55, 97);
    margin-top: 5px;
    padding: 8px 16px;
    box-sizing: border-box;
    font-family: 'Gill Sans';
    margin-left: 35%;
}

.message input[type=submit]{
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(4, 55, 97);
    border: none;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 35%;
}

.message label[for=firstName]{
    font-weight: 500;
    margin-top: 10px;
    margin-left: 35%;
}

.message label[for=lastName]{
    font-weight: 500;
    margin-top: 10px;
    margin-left: 35%;
}

.message label[for=mobileNumber]{
    font-weight: 500;
    margin-top: 10px;
    margin-left: 35%;
}

.message label[for=emailAddress]{
    font-weight: 500;
    margin-top: 10px;
    margin-left: 35%;
}

.contInfo{
    background:linear-gradient(rgba(153, 153, 153, 0.527), rgb(255, 255, 255)) ;
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 20px;
}

.links{
    margin-top: 10px;
    padding: 7px 14px;
    float: right;
}

.address{
    margin-top: 10px;
    padding: 2px 4px;
}

.address img {
    margin-top: 10px;
}

.caption{
    padding: 2px 4px;
}

footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgb(0, 0,0.60)), url(images/footer.jpg);
    width: 100%;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons a{
    text-decoration: none;
    padding: 5px;
    margin: 8px;
    border-radius: 50%;
    background-color: white;
}

.icons a:hover{
    opacity: 15%;
    transition: 0.2s;
}

.footNav{
    margin: 30px 0;
}

.footNav ul{
    display: flex;
    justify-content: center;
}

.footNav ul li a{
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: 600;
}

.footNav ul li a:hover{
    color: rgb(255, 0, 0);
    opacity: 60%;
}

.bottomEnd{
    background-color: white;
    text-align: center;
    padding: 10px;
}

.bottomEnd p{
    font-weight: 600;
}

.bottomEnd p span{
    font-weight: 400;
    margin: 5px;
    text-decoration: underline;
    color: black;
}